SERVER_URL=http://localhost:3000
AGENT_USERNAME=admin
AGENT_PASSWORD=123456
DEVICE_TYPE=LAPTOP
MAC_ADDRESS=C4-3D-1A-3E-ED-1F
# USER_TOKEN can be left empty if AGENT_USERNAME & PASSWORD are set
USER_TOKEN=